<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table>

    <tr>
        <td><p> Name</p></td>
        <td><p>title</p></td>
        <td><p>link</p></td>
        <td><p>date</p></td>

    </tr>


    <th:block th:each="redobject:${redobj}">
        <tr>
            <td><p th:text="${redobject.name}"/></td>
            <td><p th:text="${redobject.title}"/></td>

            <td>
            <a th:href="@{${redobject.hyperlink}}">
                <p th:text="${redobject.hyperlink}"></p>
            </a>

            </td>
            <td><p th:text="${redobject.date}"/> </td>

        </tr>
    </th:block>
</table>
</body>
</html>